body {
	background-color:rgba(209, 209, 209, 0.5);
	font-family: Merriweather, serif;
}

main {
	text-align: center;
}

img {
	max-width: 50%;
	height: auto;
}

ul {
	display:inline-block;
	text-align: justify;
}

li {
	padding:10px;
}

div {
	margin:70px;
}

.change-language {
	display: block;
	text-align: right;
	font-size: 24px;
	text-decoration: none;
	color:black;
}

.change-language:hover {
	font-size: 24px;
	color:black;
	text-decoration: underline;
}

.change-language a:visited {
	font-size: 24px;
	text-decoration: none;
	color:black;
}

.years {
	font-weight: bold;
	font-size:24px;
}

#img-div {
	background-color: white;
	padding:5px;
	margin:15px;
}

