body {
	font-family: Merriweather, serif;
	/*
	background: url(img/hero-bg.jpg) fixed;
	background-size: cover;
	*/
}

figure {
	margin-left: 0;
}

figure img {
	width: 15%;
}

.portfolio-list {
	list-style-type: none;
	table-layout: fixed;
	width: 100%;
	border-collapse: collapse;
}

.portfolio-list a {
	font-size: 20px;
	text-decoration: none;
	font-weight: bold;
}

.portfolio-list a:hover {
	text-decoration: underline;
}

.portfolio-list tr:nth-child(odd) {
	background-color: rgba(209, 209, 209, 0.5);
}

.page-header {
	text-align: center;
	background-color: rgba(22, 179, 15, 0.5);\
	padding:20px;
}

.page-footer {
	text-align: center;
	margin-top:200px;
	padding:20px;
	background-color: rgba(44, 45, 150, 0.5);
}

.portrait {
	margin: 0px;
}

.portrait img {
	height: 300px;
	border-radius: 50%;
}