$primary:#000;
$secondary:#fff;
$thirdly:#242424;
$fourthly: #9e8af4;
$fiftly:#ff1a57;
$sixthly:green;
$nav-width:300px;

@import "../../../templates/kuznevia/sass/kuznevia.scss";

* {

}

body {
    text-decoration: none;
    font-family: Mason Chronicles;
    font-size: 18px;
    line-height: 1.5;
    background: $primary;
    color:$secondary;
}

.navbar {
    width:$nav-width;
    position: fixed;
    top:0px;
    left:0px;
    height:100%;
    border-right:3px solid $secondary;
    
}

.header {
    font-size:32px;
    

    &-nav {
        text-align: center;
    }

    img {
        height:50px;
    }
}

.nav-list {
    height: 88%;
    overflow-y: auto;
    overflow-x: hidden;

    li {
        @include padding(10px, 15px);
        border-top:1px solid $secondary;
        border-bottom:1px solid $secondary;
        position: relative;
        width: 100%;
    }
 
}

.nav-link {
    color:$fourthly;
    transition: 0.5s linear;

    &:hover {
        color:$fiftly;
        text-decoration: underline;
    }
}

.main-doc {
    margin-left:$nav-width + 3px;
    @include padding(20px, 40px);

    section {
        article {
            @include padding(15px);
            @include flex (space-between, center, row, wrap);
            
            P {
                margin-top:10px;

                &.big-font-size {
                    font-size:24px;
                }
            }

            ul {
                margin-left: 45px;
            }      

            code {
                @include flex (center, center, column, wrap);
                @include margin-top-bottom(25px);
                font-family: Mason Chronicles;
                width:25%;
                margin-left:10px;
                font-size:14px;
                
                p {
                    margin:0;
                }

                cite {
                    font-size:12px;
                }

                img {
                    width:15px;

                    &.quote-left {
                        align-self: flex-start;
                    }

                    &.quote-right {
                        align-self: flex-end;
                    }
                }

                blockquote {
                    @include margin-left-right(20px);
                }

                &.flex-end {
                    align-self: flex-end;
                }

                &.flex-grow-0-7 {
                    flex-grow:0.7;
                }
            }

            figure {
                @include margin-top-bottom(25px);
                text-align: center;

                img {
                    height:250px;
                    @include margin-left-right (15px);
                }

                &.flex-end {
                    align-self: flex-end;
                }
            }
        }
    }
}
