$primary:#000;
$secondary:#fff;
$thirdly:#242424;
$fourthly: #9e8af4;
$fiftly:#ff1a57;
$sixthly:green;
$nav-width:300px;
$nav-mobile-height:300px;
$header-mobile-height:30px;

@import "../templates/kuznevia/sass/kuznevia.scss";


body {
    text-decoration: none;
    font-family: Mason Chronicles;
    font-size: 18px;
    line-height: 1.5;
    background: $primary;
    color:$secondary;
}

.navbar {
    width:$nav-width;
    position: fixed;
    top:0px;
    left:0px;
    height:100%;
    border-right:3px solid $secondary;
    
    .header {
        font-size:32px;
        text-align: center;
    
        img {
            height:50px;
        }
    }    

    .nav-list {
        height: 88%;
        overflow-y: auto;
        overflow-x: hidden;
    
        li {
            @include padding(10px, 15px);
            border-top:1px solid $secondary;
            border-bottom:1px solid $secondary;
            position: relative;
            width: 100%;
        }

        .nav-link {
            color:$fourthly;
            transition: 0.5s linear;
            text-decoration: none;
            font-size:24px;
        
            &:hover {
                color:$fiftly;
                text-decoration: underline;
            }
        }
     
    }

}

.main-doc {
    margin-left:$nav-width + 3px;
    @include padding(20px, 40px);

    .header {
        font-size:32px;    
    }

    .main-section {
        .main-article {
            @include padding(15px);
            @include flex (space-between, center, row, wrap);
            
            P {
                margin-top:10px;

                &.big-font-size {
                    font-size:24px;
                }
            }

            ul {
                margin-left: 45px;
                align-self: flex-start;

                &.flex-basis-20 {
                    flex-basis:20%;
                }
            }      

            code {
                @include flex (center, center, column, wrap);
                @include margin-top-bottom(25px);
                font-family: Mason Chronicles;
                width:25%;
                margin-left:10px;
                font-size:14px;
                
                p {
                    margin:0;
                    flex-grow:1;                    
                }

                cite {
                    font-size:12px;
                }

                img {
                    width:15px;

                    &.quote-left {
                        align-self: flex-start;
                    }

                    &.quote-right {
                        align-self: flex-end;
                    }
                }

                blockquote {
                    @include margin-left-right(20px);
                }

                &.flex-end {
                    align-self: flex-end;
                }

                &.flex-grow-0-7 {
                    flex-grow:0.7;
                }
            }

            figure {
                @include margin-top-bottom(25px);
                text-align: center;

                img {
                    height:250px;
                    width:200px;
                    @include margin-left-right (15px);
                }

                &.flex-end {
                    align-self: flex-end;
                }
                
            }

            .main-link {
                color:$fourthly;
                transition: 0.5s linear;
                text-decoration: none;
            
                &:hover {
                    color:$fiftly;
                    text-decoration: underline;
                }
            }
        }
    }
}

@media (max-width:1350px) {
    .media-flex-grow-1 {
        flex-grow:1;
    }

   .media-flex-basis-100-1350 {
       flex-basis:100%;
   }

   .media-hidden-1350 {
       display: none;
   }
}

@media (max-width:1110px) {
    .media-hidden-1110 {
        display: none; 
    }
}

@media (max-width:1050px) {
    .media-hidden-1050 {
        display: none; 
    }

    .media-flex-basis-100-1050 {
        flex-basis:100%;
    }

    .media-1050-grid {
        display: grid !important;
        padding:0 !important;
        margin:0 !important;
        grid-template-areas: 
        "p p"
        "ul-first figure-first"
        "ul-second figure-second"
        "ul-third figure-third"
        "ul-fourth figure-fourth"
        "ul-fifth figure-fifth"
        "ul-sixth figure-sixth"
        "ul-seventh figure-seventh";

        p {
            grid-area:p;
        }
    }

}

@media (max-width:900px) {
    .navbar {
        height: $nav-mobile-height;
        position: absolute;
        top:0px;
        width:100%;
        

        .nav-list {
            height: 240px;
        }

    }

    .main-doc {
        margin-left:0;
        margin-top:$nav-mobile-height + 3px;
    }

}

@media (max-width:500px) {
    .media-500-grid {
        grid-template-areas: 
        "p"
        "ul-first"
        "figure-first"
        "ul-second" 
        "figure-second"
        "ul-third"
        "figure-third"
        "ul-fourth" 
        "figure-fourth"
        "ul-fifth"
        "figure-fifth"
        "ul-sixth" 
        "figure-sixth"
        "ul-seventh" 
        "figure-seventh";

        justify-items: start;
    }
}