@mixin flex-basis ($percent) {
    flex-basis:#{$percent} + 0%;
}

@for $i from 1 through 10 {
    .flex-basis-#{$i*10}-percent {
        @include flex-basis($i*10);
    }
}

@mixin margin-top ($margin-top) {
    margin-top:#{$margin-top}px;
}

@for $i from 1 through 6 {
    .margin-top-#{$i*15} {
        @include margin-top($i*15);
    }
}

@mixin margin-right ($margin-right) {
    margin-right:#{$margin-right}px;
}

@for $i from 1 through 6 {
    .margin-right-#{$i*15} {
        @include margin-right($i*15);
    }
}

@mixin margin-bottom ($margin-bottom) {
    margin-bottom:#{$margin-bottom}px;
}

@for $i from 1 through 6 {
    .margin-bottom-#{$i*15} {
        @include margin-bottom($i*15);
    }
}

@mixin margin-left ($margin-left) {
    margin-left:#{$margin-left}px;
}

@for $i from 1 through 6 {
    .margin-left-#{$i*15} {
        @include margin-left($i*15);
    }
}

@mixin padding-top ($padding-top) {
    padding-top:#{$padding-top}px;
}

@for $i from 1 through 6 {
    .padding-top-#{$i*15} {
        @include padding-top($i*15);
    }
}

@mixin padding-right ($padding-right) {
    padding-right:#{$padding-right}px;
}

@for $i from 1 through 6 {
    .padding-right-#{$i*15} {
        @include padding-right($i*15);
    }
}

@mixin padding-bottom ($padding-bottom) {
    padding-bottom:#{$padding-bottom}px;
}

@for $i from 1 through 6 {
    .padding-bottom-#{$i*15} {
        @include padding-bottom($i*15);
    }
}

@mixin padding-left ($padding-left) {
    padding-left:#{$padding-left}px;
}

@for $i from 1 through 6 {
    .padding-left-#{$i*15} {
        @include padding-left($i*15);
    }
}

@mixin height ($height) {
    height:#{$height}px;
}

@for $i from 1 through 60 {
    .height-#{$i*10} {
        @include height($i*10);
    }
}

@mixin width ($width) {
    width:#{$width}px;
}

@for $i from 1 through 60 {
    .width-#{$i*10} {
        @include width($i*10);
    }
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.center-align-items {
    align-items: center;
}

.baseline-align-items {
    align-items:baseline;
}

.align-self-center {
    align-self: center;
}

.align-self-flex-start {
    align-self: flex-start;
}

.justify-center {
    justify-content: center;
}

.bg-primary {
    background:$primary;
}

.bg-secondary {
    background:$secondary;
}

.bg-thirdly {
    background:$thirdly;
}

.bg-fourthly {
    background:$fourthly;
}

.bg-fiftly {
    background:$fiftly;
}

.bg-transparent {
    background:transparent;
}

.border-box {
    box-sizing: border-box;
}

.fw-normal {
    font-weight: normal;
}

.fw-bold {
    font-weight: bold;
}
