body {
	font-family: Merriweather, serif;
	background:url(img/mount_bg.jpg) fixed;
	background-size: cover;
}

fieldset {
	border:none;
	line-height: 35px;
}

#survey-form {
	display: inline-grid;
	background:rgba(153, 149, 245, 0.9);
	padding: 25px 25px;
	margin-top:30px;
	text-align: left;
	border:1px solid transparent;
	border-radius: 5px;
}

#personal-info input,
#final input,
.drop,
textarea {
	width: 700px;
	height: 35px;
	font-size: 15px;
	box-sizing:border-box;
	margin-bottom: 25px;
	border:1px solid transparent;
	border-radius: 5px;
}


#content {
	text-align: center;
	margin-top:75px;
}


.add-info {
	font-size: 12px;
}

fieldset p {
	margin:0;
}

textarea {
	height: auto;
}

#final #submit {
	height: 40px;
	background-color:rgba(7, 0, 212, 0.9);
	border:none;
	font-size: 16px;
	color:white;
}

@media (max-width: 800px) {
	#survey-form {
		font-size: 24px;
	}
	#personal-info input,
	#final input,
	.drop,
	textarea {
		font-size: 24px;
		height: 55px;
		margin-bottom: 35px;
		width:100%;
	}

	.add-info {
		font-size: 18px;
	}
}