* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  /* 18px */
  font-weight: 400;
  line-height: 1.4;
  color: #fff;
}

h1,
h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-align: center;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4.2rem;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  position: fixed;
  top: 0;
  width: 100%;
  background: #242424;
  height: 10vh;
}
.navbar .navlist {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  list-style-type: none;
  margin-right: 3rem;
}
.navbar .navlist a {
  text-decoration: none;
  color: #fff;
  margin: 0 3rem;
  font-size: 2.2rem;
  padding: 2.1rem;
}
.navbar .navlist a:hover {
  background: #000;
}

.welcome-section {
  margin-top: 10vh;
  background: #000;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
}

.projects-section {
  background: #242424;
  text-align: center;
  padding-top: 8rem;
  padding-bottom: 8rem;
}
.projects-section .projects-header {
  max-width: 49rem;
  border-bottom: 0.2rem solid #fff;
  margin: 0 auto 0 auto;
}
.projects-section .projects-disc {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.projects-section .projects-list {
  display: grid;
  justify-items: center;
  grid-template-areas: "a a a" "a a a";
  row-gap: 5rem;
}
.projects-section .projects-list a {
  text-decoration: none;
  color: #fff;
  text-align: center;
}
.projects-section .projects-list a .project-image {
  display: block;
  height: 35rem;
  width: 25vw;
  object-fit: cover;
}
.projects-section .projects-list a .project-tile {
  padding: 2rem 0;
  background: #000;
  width: 25vw;
}
.projects-section .projects-list a .code {
  color: #000;
}
.projects-section .projects-list a:hover .code {
  color: #fff;
}

.contact-section {
  background: #000;
  padding-top: 7rem;
  padding-bottom: 7rem;
  text-align: center;
}
.contact-section .contact-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.contact-section .contact-links .link {
  margin-left: 3rem;
  margin-right: 3rem;
  color: #fff;
  text-decoration: none;
  font-size: 2.4rem;
  transition: transform 0.3s ease-out;
}
.contact-section .contact-links .link:hover {
  transform: translateY(8px);
}
.contact-section a {
  transition: 0.5s linear;
  text-decoration: none;
  color: #9e8af4;
}
.contact-section a:hover {
  text-decoration: underline;
  color: #ff1a57;
}

@media (max-width: 1300px) {
  .projects-section .projects-list {
    grid-template-areas: "a a" "a a" "a a";
  }
  .projects-section .projects-list a .project-image {
    width: 36vw;
  }
  .projects-section .projects-list a .project-tile {
    width: 36vw;
  }
}
@media (max-width: 906px) {
  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 15vh;
  }
  .navbar .navlist {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .navbar .navlist li {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .projects-section .projects-list {
    grid-template-areas: "a" "a" "a";
  }
  .projects-section .projects-list a .project-image {
    width: 50vw;
  }
  .projects-section .projects-list a .project-tile {
    width: 50vw;
  }

  .contact-section .contact-links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .contact-section .contact-links a {
    margin-bottom: 2rem;
  }
}
@media (max-width: 600px) {
  .projects-section .projects-list {
    grid-template-areas: "a" "a" "a";
  }
  .projects-section .projects-list a .project-image {
    width: 75vw;
  }
  .projects-section .projects-list a .project-tile {
    width: 75vw;
  }
}
@media (max-width: 400px) {
  .navbar {
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .navbar .navlist {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0;
  }
  .navbar .navlist a {
    margin: 1rem;
    padding: 0;
  }

  .projects-section .projects-list {
    grid-template-areas: "a" "a" "a";
  }
  .projects-section .projects-list a .project-image {
    width: 95vw;
  }
  .projects-section .projects-list a .project-tile {
    width: 95vw;
  }
}

/*# sourceMappingURL=style.css.map */
