* {
  margin: 0;
  padding: 0;
}

body {
  text-decoration: none;
  font-family: Mason Chronicles;
  font-size: 18px;
  line-height: 1.5;
  background: #000;
  color: #fff;
}

.navbar {
  width: 300px;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  border-right: 3px solid #fff;
}
.navbar .header {
  font-size: 32px;
  text-align: center;
}
.navbar .header img {
  height: 50px;
}
.navbar .nav-list {
  height: 88%;
  overflow-y: auto;
  overflow-x: hidden;
}
.navbar .nav-list li {
  padding: 10px 15px 10px 15px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  position: relative;
  width: 100%;
}
.navbar .nav-list .nav-link {
  color: #9e8af4;
  transition: 0.5s linear;
  text-decoration: none;
  font-size: 24px;
}
.navbar .nav-list .nav-link:hover {
  color: #ff1a57;
  text-decoration: underline;
}

.main-doc {
  margin-left: 303px;
  padding: 20px 40px 20px 40px;
}
.main-doc .header {
  font-size: 32px;
}
.main-doc .main-section .main-article {
  padding: 15px 15px 15px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.main-doc .main-section .main-article P {
  margin-top: 10px;
}
.main-doc .main-section .main-article P.big-font-size {
  font-size: 24px;
}
.main-doc .main-section .main-article ul {
  margin-left: 45px;
  align-self: flex-start;
}
.main-doc .main-section .main-article ul.flex-basis-20 {
  flex-basis: 20%;
}
.main-doc .main-section .main-article code {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 25px;
  margin-bottom: 25px;
  font-family: Mason Chronicles;
  width: 25%;
  margin-left: 10px;
  font-size: 14px;
}
.main-doc .main-section .main-article code p {
  margin: 0;
  flex-grow: 1;
}
.main-doc .main-section .main-article code cite {
  font-size: 12px;
}
.main-doc .main-section .main-article code img {
  width: 15px;
}
.main-doc .main-section .main-article code img.quote-left {
  align-self: flex-start;
}
.main-doc .main-section .main-article code img.quote-right {
  align-self: flex-end;
}
.main-doc .main-section .main-article code blockquote {
  margin-left: 20px;
  margin-right: 20px;
}
.main-doc .main-section .main-article code.flex-end {
  align-self: flex-end;
}
.main-doc .main-section .main-article code.flex-grow-0-7 {
  flex-grow: 0.7;
}
.main-doc .main-section .main-article figure {
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: center;
}
.main-doc .main-section .main-article figure img {
  height: 250px;
  width: 200px;
  margin-left: 15px;
  margin-right: 15px;
}
.main-doc .main-section .main-article figure.flex-end {
  align-self: flex-end;
}
.main-doc .main-section .main-article .main-link {
  color: #9e8af4;
  transition: 0.5s linear;
  text-decoration: none;
}
.main-doc .main-section .main-article .main-link:hover {
  color: #ff1a57;
  text-decoration: underline;
}

@media (max-width: 1350px) {
  .media-flex-grow-1 {
    flex-grow: 1;
  }

  .media-flex-basis-100-1350 {
    flex-basis: 100%;
  }

  .media-hidden-1350 {
    display: none;
  }
}
@media (max-width: 1110px) {
  .media-hidden-1110 {
    display: none;
  }
}
@media (max-width: 1050px) {
  .media-hidden-1050 {
    display: none;
  }

  .media-flex-basis-100-1050 {
    flex-basis: 100%;
  }

  .media-1050-grid {
    display: grid !important;
    padding: 0 !important;
    margin: 0 !important;
    grid-template-areas: "p p" "ul-first figure-first" "ul-second figure-second" "ul-third figure-third" "ul-fourth figure-fourth" "ul-fifth figure-fifth" "ul-sixth figure-sixth" "ul-seventh figure-seventh";
  }
  .media-1050-grid p {
    grid-area: p;
  }
}
@media (max-width: 900px) {
  .navbar {
    height: 300px;
    position: absolute;
    top: 0px;
    width: 100%;
  }
  .navbar .nav-list {
    height: 240px;
  }

  .main-doc {
    margin-left: 0;
    margin-top: 303px;
  }
}

/*# sourceMappingURL=style.css.map */
