@import "../templates/kuznevia/sass/kuznevia.scss";

$primary:#fff;
$secondary:#000;
$thirdly:#242424;
$fourthly: #9e8af4;
$fiftly:#ff1a57;
$sixthly:green;

$header-height:10vh;

html {
    box-sizing:border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem; /* 18px */
    font-weight: 400;
    line-height: 1.4;
    color: $primary;
}

h1,
h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-align: center;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4.2rem;
}


.navbar {
    
    @include flex(flex-end, center);
    @include fixed;
    background:$thirdly;
    height:$header-height;

    .navlist {
        
        @include flex(space-around, center);
        list-style-type: none;
        margin-right:3rem;
        
        
        a {
            text-decoration: none;
            color:$primary;
            margin:0 3rem;
            font-size:2.2rem;
            padding:2.4rem;

            &:hover {
                background:$secondary;
            }
        }
        

    }
}

.welcome-section {
    
    margin-top:$header-height;
    background:$secondary;
    height: 100vh;
    @include flex(center, center, column);
}

.projects-section {
    background:$thirdly;
    text-align:center;
    @include padding-top-bottom (10rem);

    .projects-header {
        max-width: 49rem;
        border-bottom: 0.2rem solid $primary;
        margin: 0 auto 6rem auto;
    }

    .projects-list {
        display:grid;
        justify-items:center;
        grid-template-areas: 
        "a a"
        "a a"
        "a a";
        row-gap: 5rem;

        a {

            text-decoration: none;
            color:$primary;
            text-align: center;

            .project-image {
                display: block;
              
            }

            .project-tile {
                padding:2rem 0;
                background:$secondary;
            }

            .code {
                color:$secondary;
            }

            &:hover .code {
                color:$primary;
            }

        }
    }
}

.contact-section {
    background:$secondary;
    @include padding-top-bottom (7rem);

    .contact-links {
        @include flex(center, center);
        margin-top:3rem;

        .link {
            @include margin-left-right(3rem);
            color:$primary;
            text-decoration: none;
            font-size:2.4rem;
            transition: transform 0.3s ease-out;
            

            &:hover {
                transform: translateY(8px);
            }

        }

    }
}
