@import "../templates/kuznevia/sass/kuznevia.scss";

$primary:#fff;
$secondary:#000;
$thirdly:#242424;
$fourthly: #9e8af4;
$fiftly:#ff1a57;
$sixthly:green;
$icon-width:25vw;

$header-height:10vh;

html {
    box-sizing:border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem; /* 18px */
    font-weight: 400;
    line-height: 1.4;
    color: $primary;
}

h1,
h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-align: center;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4.2rem;
}


.navbar {
    
    @include flex(flex-end, center);
    @include fixed;
    background:$thirdly;
    height:$header-height;

    .navlist {
        
        @include flex(space-around, center);
        list-style-type: none;
        margin-right:3rem;
        
        
        a {
            text-decoration: none;
            color:$primary;
            margin:0 3rem;
            font-size:2.2rem;
            padding:2.1rem;

            &:hover {
                background:$secondary;
            }
        }
        

    }
}

.welcome-section {
    
    margin-top:$header-height;
    background:$secondary;
    height: 100vh;
    @include flex(center, center, column);
}

.projects-section {
    background:$thirdly;
    text-align:center;
    @include padding-top-bottom (8rem);

    .projects-header {
        max-width: 49rem;
        border-bottom: 0.2rem solid $primary;
        margin: 0 auto 0 auto;
    }

    .projects-disc {
        @include margin-top-bottom (3rem);
    }

    .projects-list {
        display:grid;
        justify-items:center;
        grid-template-areas: 
        "a a a"
        "a a a";
        row-gap: 5rem;

        a {

            text-decoration: none;
            color:$primary;
            text-align: center;

            .project-image {
                display: block;
                height:35rem;
                width: $icon-width;
                object-fit: cover;
            }

            .project-tile {
                padding:2rem 0;
                background:$secondary;
                width:$icon-width;
            }

            .code {
                color:$secondary;
            }

            &:hover .code {
                color:$primary;
            }

        }
    }
}

.contact-section {
    background:$secondary;
    @include padding-top-bottom (7rem);
    text-align: center;

    .contact-links {
        @include flex(center, center, row, wrap);
        @include margin-top-bottom (3rem);

        .link {
            @include margin-left-right(3rem);
            color:$primary;
            text-decoration: none;
            font-size:2.4rem;
            transition: transform 0.3s ease-out;
            

            &:hover {
                transform: translateY(8px);
            }

        }

    }

    a {
        transition: 0.5s linear;
        text-decoration: none;
        color:$fourthly;

        &:hover {
            text-decoration: underline;
            color:$fiftly;
        }
    }
}


@media (max-width:1300px) {
    
    $icon-width:36vw;

   .projects-section {
    
    .projects-list {
        
        grid-template-areas: 
        "a a"
        "a a"
        "a a"; 

        a {

            .project-image {
                width: $icon-width;
            }

            .project-tile {
                width:$icon-width;
            }
        }    
    }

   } 

}

@media (max-width:906px) {
        
    $icon-width:50vw;
    $header-height:15vh;

    .navbar {
    
        @include flex(center, center);
        height:$header-height;
    
        .navlist {
            
            @include flex(space-between, center, row, wrap);
            
            li {
                @include margin-top-bottom(1rem);
            }
        }
    }

   .projects-section {
    
        .projects-list {
            
            grid-template-areas: 
            "a"
            "a"
            "a"; 

            a {

                .project-image {
                    width: $icon-width;
                }

                .project-tile {
                    width:$icon-width;
                }
            }    
        }
    }

    .contact-section {
    
        .contact-links {
            @include flex(space-evenly, center, row, wrap);  

            a {
                margin-bottom:2rem;
            }
        }
    }    

}

@media (max-width:600px) {
        
    $icon-width:75vw;

   .projects-section {
    
    .projects-list {
        
        grid-template-areas: 
        "a"
        "a"
        "a"; 

        a {

            .project-image {
                width: $icon-width;
            }

            .project-tile {
                width:$icon-width;
            }
        }    
    }

   } 
}

@media (max-width:400px) {
        
    $icon-width:95vw;
    $header-height:25vh;

    .navbar {
    
        height:$header-height;
        @include flex(center, center);
    
        .navlist {
            
            @include flex(center, center, column, wrap);
            margin:0;

            a {
                margin:1rem;
                padding:0;
            }
        }
    }

   .projects-section {
    
    .projects-list {
        
        grid-template-areas: 
        "a"
        "a"
        "a"; 

        a {

            .project-image {
                width: $icon-width;
            }

            .project-tile {
                width:$icon-width;
            }
        }    
    }

   } 
}